.form {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 3rem;

	.input {
		width: 100%;
		padding: 1rem;

		background: #0000003f;
		border: 0.2rem solid #000;
		outline: none;

		color: #fff;
	}

	.btn {
		padding: 1rem 2rem;
		opacity: 1;
		cursor: pointer;

		background: #ffffffb7;
		border: 0.2rem solid #ffffff;

		color: #000;

		transition: opacity 0.3s ease;

		&:disabled {
			opacity: 0.5;
		}
	}

	&Block {
		width: 100%;
		position: relative;
	}
}

.error {
	padding: 0;
	opacity: 0;

	background: #cc2525;
	border-radius: 0.7rem;

	position: absolute;
	top: 0;
	left: 105%;

	transition: opacity 0.3s ease;

	span {
		width: 100%;
		color: #fff;
		white-space: nowrap;
	}

	&.show {
		padding: 0.5rem;
		opacity: 1;
	}
}
