.error {
	padding: 0.5rem;
	opacity: 0;

	background: #cc2525;
	border-radius: 0.7rem;

	position: absolute;
	top: 0;
	left: calc(100% + 0.5rem);

	transition: opacity 0.3s ease;

	span {
		width: 100%;
		color: #fff;
		white-space: nowrap;
	}

	&.show {
		opacity: 1;
	}

	&.showTop {
		opacity: 1;
		top: calc(100% + 0.5rem);
		transform: translate(-100%);
	}
}

.formError {
	width: 100%;
	margin-top: 1rem;
	padding: 1rem;

	background: transparent;
	border: 0.1rem solid #cc2525;
	border-radius: 0.7rem;

	p {
		color: #cc2525;
		text-align: center;
		font-weight: 700;
	}
}
